body{
    background-color: yellow;
}
div{

    display: flex;
    align-items: center;
    justify-content: center;
}
button{
    color: white;
    background-color: red;
    border-radius: 5;
    width: 180px;
    height: 40px;
    
}